body {
    margin: 0;
}

.nimi{
    margin: 0;
}

th{
    text-align: left
}

.noteclass {
    background-color: rgb(112, 182, 112);
    overflow: hidden;
    height: 20px;
    font-size: 20px;
    padding: 5px;
    margin: 5px 0;
    animation: hide .6s ease-in 4s 1 normal forwards;
}

@keyframes hide {
    from {
        height: 20px;
        padding: 5px 5px;
        margin: 5px 0;
    }
    to {
        height: 0px;
        padding: 0px 5px;
        margin: 5px 0;
    }
}